<!DOCTYPE html>
<html>

  <head>
    <title>Zipcode Search</title>
    <!-- Include Tailwind CSS CDN -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  </head>

  <body class="bg-gray-100 px-6 py-12">

    <form action="/" method="POST" class="p-4 rounded shadow-md">


      <div class="mb-5">
        <img src="{{url_for('static', filename='sbu_logo.png')}}" alt="Long Island Cares Logo" class="mx-auto h-12 w-auto">
        <h1 class="text-4xl font-bold tracking-tight text-center text-red-700">Long Island Community Resources</h1>
        <p class="text-center leading-8 text-gray-600">Search for resources by zipcode and distance.</p>
      </div>

      <!-- create a new div container which has 3 columns, and is mobile friendly -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

        <div class="mb-4">
          <label for="category" class="block text-gray-700 text-sm font-bold mb-2">Category:</label>
          <select id="category" name="category" class="mb-4 shadow border rounded py-2 px-3 text-gray-700">

            <option value="all"> All selected </option>

            {% for category in unique_filter_tags %}
              <option value="{{ category }}">{{ category }}</option>
            {% endfor %}

          </select>
        </div>

        <div class="mb-4">
          <label for="zipcode" class="block text-gray-700 text-sm font-bold mb-2">Zipcode:</label>

          <!-- if zipcode is not null, provide zipcode as value, if it is blank, prpovide 11733 -->
          {% if zipcode %}
            <input type="text" value="{{ zipcode }}" id="zipcode" name="zipcode" pattern="[0-9]{5}" required class="shadow border rounded py-2 px-3 text-gray-700">
          {% else %}
            <input type="text" value="11733" id="zipcode" name="zipcode" pattern="[0-9]{5}" required class="shadow border rounded py-2 px-3 text-gray-700">
          {% endif %}
        
        </div>
        
        <div class="mb-4">
          <label for="distance" class="block text-gray-700 text-sm font-bold mb-2">Distance (miles):</label>
        
          <!-- if distance is not null, provide distance as value, if it is blank, provider 10 -->
          {% if distance %}
            <input type="number" value="{{ distance }}" id="distance" name="distance" min="1" max="99" required class="shadow border rounded py-2 px-3 text-gray-700">
          {% else %}
            <input type="number" value="99" id="distance" name="distance" min="1" max="99" required class="shadow border rounded py-2 px-3 text-gray-700">
          {% endif %}
                
        </div>
      </div>
            
      <input type="submit" value="Search" class="bg-red-700 hover:bg-red-500 text-white font-bold py-2 px-4 rounded">
    </form>

    <!-- Display Results -->
    {% if results %}
      <h2 class="text-xl font-bold mt-5">Results for {{ zipcode }} within {{ distance }} miles</h2>

      <div id="map" style="height: 400px;"></div>

      <!-- display category_counts -->
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
        {% for category, count in category_counts.items() %}
          <div class="bg-gray-100 p-6 rounded-lg shadow-md transition duration-300 ease-in-out hover:bg-gray-200">
            <h3 class="text-lg font-semibold text-gray-800">{{ category }}</h3>
            <h5 class="text-sm font-semibold text-gray-600">{{ count }} results</h5>
          </div>
        {% endfor %}
      </div>

      <!-- add in a line with padding of 10 px -->
      <div class="border-b-2 border-gray-300 mt-10 mb-10"></div>

      <!-- create a print results button -->
      <div class="text-left">
        <button onclick="window.print()" class="bg-red-700 hover:bg-red-500 text-white font-bold py-2 px-4 rounded mt-2">Print Results</button>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
        {% for result in results %}
          <div class="bg-gray-100 p-6 rounded-lg shadow-md transition duration-300 ease-in-out hover:bg-gray-200">
            <h3 class="text-lg font-semibold text-gray-800">{{ result.organization }}</h3>
            <h5 class="text-sm font-semibold text-gray-600">{{ result.filter_tags }}</h5>
            <p class="text-gray-600">{{ result.address }}, {{ result.town }}, {{ result.zip_code }}</p>
            <p class="text-gray-600"><strong>Phone:</strong> {{ result.phone_number }}</p>
            <p class="text-gray-600"><strong>Hours:</strong> {{ result.hours_of_operation }}</p>
            {% if result.website %}
              <p><a href="{{ result.website }}" class="text-blue-500 hover:text-blue-600" target="_blank">Website</a></p>
            {% endif %}

            <!-- create a code box with the complete result data -->
            <div>
              <details class="mt-2">
                <summary class="text-sm font-semibold text-gray-600">View JSON</summary>
                <pre class="text-xs text-gray-600 overflow-x-auto whitespace-pre-wrap">{{ result }}</pre>
              </details>
            </div>

          </div>
        {% endfor %}
      </div>
    {% endif %}

    <script>
      // Check if results_json exists and is not empty
      var results_json = '{{ results_json | safe }}';
      console.log('Results JSON initial: ', results_json)
      if (results_json && results_json !== '[]') {
        var results = JSON.parse(results_json);
    
        // Initialize the map
        var map = L.map('map').setView([40.789142, -73.134960], 9);
    
        // Add the OpenStreetMap tiles
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          maxZoom: 18
        }).addTo(map);
    
        // Loop through the results and add markers
        results.forEach(function(result) {
          if (result.geometry && result.geometry.coordinates) {
            var lat = result.geometry.coordinates[1];
            var lng = result.geometry.coordinates[0];
            var marker = L.marker([lat, lng]).addTo(map);
    
            // Create a popup
            var popup = L.popup().setContent("<b>" + result.organization + "</b><br>" + result.filter_tags + "</b><br>" + result.address);
    
            // Bind the popup to open on mouseover
            marker.on('mouseover', function() {
              marker.openPopup();
            });
    
            // Bind the popup to close on mouseout
            marker.on('mouseout', function() {
              marker.closePopup();
            });
    
            // Optionally, bind the popup to open on click as well
            marker.bindPopup(popup);
          }
        });
      } else {
        // Optionally, hide the map container or display a message if there are no results
        document.getElementById('map').style.display = 'none';
      }
    </script>
    


  </body>
</html>



